:root {
  --bg-color: #fff;
  --primary-color: #000;
  --secondary-color: rgb(0, 122, 255);
  --light-gray: rgb(112, 112, 112);
  --color: #374151;
  --highlight: rgba(255, 255, 0, 0.3);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(32, 33, 36);
    --primary-color: rgb(213, 215, 216);
    --color: rgb(213, 215, 216);
  }
}

@font-face {
    font-family: 'PragmataPro';
    src: url('../fonts/pragmatapro.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../fonts/newsreader-variable.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../fonts/newsreader-variable.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    src: url('../fonts/newsreader-italic.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'LibreFranklin';
    src: url('../fonts/libre-franklin-variable.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LibreFranklin';
    font-style: italic;
    src: url('../fonts/libre-franklin-italic.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
  font-family: 'CCSymbols';
  font-synthesis: none;
  src: url('../fonts/CCSymbols.woff2') format(woff2);
  unicode-range: u+a9, u+229c, u+1f10d-1f10f, u+1f16d-1f16f;
  font-display: swap;
}

html {
  background: var(--bg-color)
}

body {
  font-family: 'Newsreader', Serif, CCSymbols;
  color: var(--primary-color);
  font-size: 1.3rem;
  line-height: 2rem;
}

p {
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  line-height: 2.2rem;
}

.functional {
  font-family: LibreFranklin
}

.container {
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.header {
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1rem;
}

.header .left {
  display: block;
  padding-right: 1rem;
}

.logo a, .logo a:visited {
  text-decoration: none;
}

.menu {
  flex: 1;
}

.menu ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.menu li {
  display: block;
  list-style-type: none;
}

.menu li:not(:first-child) {
  margin-left: 1rem;
}

.header a {
  color: var(--primary-color);
  text-decoration: none;
  border-radius: .25rem;
  border-bottom: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
}

.footer .menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.footer a {
  color: var(--primary-color) !important;
  text-decoration: none;
}

.content {
  margin-top: 50px;
  /* line-height: 1.1rem; */
}

.content a, .content a:visited {
  color: var(--primary-color);
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.1rem;
}

.meta, .post-meta, .archive__post-date, .post-tags {
  font-family: LibreFranklin;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.posts {
  line-height: 2rem;
}

.post-content {
  line-height: 2rem;
  position: relative;
}

.post-content li {
  margin-bottom: 0.3rem;
}

.posts h1 a, .posts h1 a:visited, .post-title {
  font-size: 2.1rem;
  color: var(--primary-color);
  border-bottom: none;
  text-decoration: none;
  background: none;
}

.post-content a {
  background:
     linear-gradient(
       to bottom, var(--secondary-color) 0%,
       var(--secondary-color) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0px 0px;
  color: var(--primary-color);
  transition: background-size .2s, color .2s;
}

.post-meta a, .post-meta a:hover, .post-footer a, .post-footer a:hover {
  background-size: none;
  background: none;
  color: var(--primary-color);
  text-decoration: none;
}

.post-content a:hover {
  background-size: 4px 50px;
  color: #FFF;
}

.posts .read-more {
  margin-top: 1rem;
}

.pagination {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.next {
  text-align: right;
}

.post-cover img {
  width: 100%;
  height: auto;
}

hr {
  border: 0.01rem solid var(--light-gray);
}

pre {
  font-family: 'PragmataPro';
  overflow: auto;
  white-space: pre;
  padding: 10px;
}

code {
  font-family: 'PragmataPro';
  font-size: 1.05rem;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  display: inline;
}

img {
  display: block;
  max-width: 100%;
}

figcaption {
  font-family: 'LibreFranklin';
  font-size: 1rem;
  color: var(--light-gray);
  font-weight: 400;
}

blockquote {
  border-left: 2px solid;
  margin: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.twitter-quote {
  margin-left: 0px;
  width: 100%;
  border-color: #1DA1F2;
  background: rgba(29, 161, 242, 0.1)
}

.pleroma-quote {
  margin-left: 0px;
  width: 100%;
  border-color: rgba(189, 147, 249, 1);
  background: rgba(189, 147, 249, 0.1)
}

.webring .articles ul {
  list-style: none;
  padding: 0px;
}

.webring h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
}

.webring a, .webring a:hover, .webring a:visited {
  text-decoration: none;
  background: none;
  color: var(--primary-color);
}

.webring .attribution {
  text-align: right;
  font-size: 0.8rem;
  color: var(--light-gray);
}

.webring .attribution a {
  color: var(--light-gray);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
