{{ $urlPre := "http://localhost:3000/?auth="}}
{{ $auth := getenv "AUTH" }}
{{ $urlPost := "&tweetId="}}
{{ $id := .Get 0 }}
{{ $json := getJSON $urlPre $auth $urlPost $id }}
<blockquote style="margin-left:0px;width:100%;border-color:#1DA1F2;background:rgba(29, 161, 242, 0.1)">
  <img s>
  {{ $json.text | safeHTML }}
  <br />
  <p>&mdash; {{ $json.user.name }} (@{{ $json.user.screen_name }}) <a href='https://twitter.com/{{ $json.user.screen_name }}/status/{{ $json.id_str }}'>{{ dateFormat "January 2, 2006" $json.created_at }}</a></p>
</blockquote>
