<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
      name="description"
      content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}"
      />
  <meta
      name="keywords"
      content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}"
      />
  <meta name="robots" content="noodp" />
  <link rel="canonical" href="{{ .Permalink }}" />

  {{- if not $.Params.images }}
    <meta property="og:image" content="{{ "/images/avatar.jpg" | relURL }}" />
  {{ end }}

  {{ block "title" . }}
    <title>
      {{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} —
      {{ . }}{{ end }}{{ else }}{{ .Title }} ::
      {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}
    </title>
  {{ end }}

  <!-- head custom -->
  {{- partial "prepended_head.html" . }}

  {{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
  {{ $sidenote := resources.Get "css/sidenote.css" | minify | fingerprint }}

  <!-- Theme CSS -->
  <!-- Prefetch -->
  {{ with resources.Get "css/style.css" | minify }}
  <style>
    {{ .Content | safeCSS }}
  </style>
  {{ end }}

  <!-- Load async -->
  <link rel="preload" href="{{ $syntax.Permalink | relURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'" integrity="{{ $syntax.Data.Integrity }}">
  <noscript><link rel="stylesheet" href="{{ $syntax.Permalink | relURL }}" integrity="{{ $syntax.Data.Integrity }}"></noscript>

  <link rel="preload" href="{{ $sidenote.Permalink | relURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'" integrity="{{ $sidenote.Data.Integrity }}">
  <noscript><link rel="stylesheet" href="{{ $sidenote.Permalink | relURL }}" integrity="{{ $sidenote.Data.Integrity }}"></noscript>

  <link rel="preload" href="/css/extra.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/extra.css"></noscript>

  <!-- Fonts -->
  {{ $newsreaderVariable := resources.Get "fonts/newsreader-variable-v2.woff2" }}
  {{ $newsreaderItalic := resources.Get "fonts/newsreader-italic-v2.woff2" }}
  {{ $libreFranklinVariable := resources.Get "fonts/libre-franklin-variable.woff" }}
  {{ $ccSymbols := resources.Get "fonts/ccsymbols.woff2" }}
  {{ $pragmataPro := resources.Get "fonts/pragmatapro.woff2" }}

  <link rel="preload" as="font" href="{{ $newsreaderVariable.Permalink | relURL }}">
  <link rel="preload" as="font" href="{{ $newsreaderItalic.Permalink | relURL }}">
  <link rel="preload" as="font" href="{{ $libreFranklinVariable.Permalink | relURL }}">
  <link rel="preload" as="font" href="{{ $ccSymbols.Permalink | relURL }}">
  <link rel="preload" as="font" href="{{ $pragmataPro.Permalink | relURL }}">

  {{ if .IsHome }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
    {{ range $paginator.Pages }}
      <link rel="prefetch" href="{{ .Permalink }}" as="document">
    {{ end }}

    {{ if or $.Site.Params.showMenuItems (eq $.Site.Params.showMenuItems 0) }}
      {{ with $.Site.Menus.main }}
        {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
          {{ if not .HasChildren }}
            <link rel="prefetch" href="{{ .URL }}" as="document">
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}" />

  <!-- Twitter Card -->
  {{ template "_internal/twitter_cards.html" . }}

  <!-- OG data -->
  {{ template "_internal/opengraph.html" . }}

  <!-- RSS | JSON -->
  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{ end -}}

  <!-- head custom -->
  {{- partial "extended_head.html" . }}
</head>
